@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
  --marginauto:0 auto;
  --bgblack:#1b1b1b;
  --bgqhite:#ffffff;
  --padding05:0.5rem;
  --padding1:1rem;
  --padding2:2rem;
  --padding3:3rem;
  --gap1:1rem;
  --gap2:2rem;
  --gap3:3rem;
}
*{
  margin: 0px;
  padding: 0px;
  box-sizing: content-box;
}
body{
  width: min(93%,1800px);
  margin: var(--marginauto);
  justify-content: space-between;
  display: flex;
  flex-direction: column;
}
nav{
  background-color:var(--bgblack);
  color:var(--bgqhite);
  padding: var(--padding1);
  gap: var(--gap2);
}
h1{
  font-weight: bold;
  font-size: 24px;
}
h2{
  font-weight: 500;
  font-size: 22px;
}
h3{
  font-weight: 500;
  font-size: 16px;
}
h4{
  font-weight: 400;
  font-size: 16px;
}
section ul li:not(footer li){
  list-style-type: disc;
  list-style-position: inside;
}

a:hover{
  color: blue;
}
nav{
  display: flex;
}
.navbar{
  gap: var(--gap2);
  flex: 1;
}
.caveman{
  font-size: 18px;
  font-weight: bold;
}
strong{
  font-weight: 600;
  font-size: 18px;
}
button{
  background-color: var(--bgblack);
 color: var(--bgqhite);
  padding: 5px 10px;
  border-radius: 5px;
}
nav div{
  display: flex;
  flex-basis: 100px;
  align-items: center;
  justify-content: center;
}
main{
  gap: var(--gap2) !important;
  margin-top: 10px;
  min-height:100vh;
}
main a{
  color: blue;
  text-decoration: underline;
}
p{
  font-size: 18px;
  line-height: 25px;
  font-weight: 200;
}
.references a{
  color: blue;
}
.videos,.contactinfo{
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(min(200px,50%),1fr));
  gap: var(--gap2);
}
.videos{
  margin-top: 30px;
  width: 100%;
}
.videos > *{
  width: 100%;
}
.icons {
  font-size: 30px;
}
.contactinfo div,main,section{
  display: flex;
  flex-direction: column;
  gap: var(--gap1);
}
.contactinfo div{ 
  align-items: center;
  background-color: rgb(237, 237, 237);
  padding: var(--padding1);
}
.bgblue{
  background-color: rgba(0, 166, 255, 0.838);
  padding:var(--padding1);
  max-width:100%;
}

footer{
  background-color: #1b1b1b;
  padding: var(--padding1);
  color: #ffffff;
  gap: var(--gap2);
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(min(90%,300px),1fr));
  margin-top: 30px;
}
footer h3{
  font-weight: bold;
}
footer p, footer li{
  font-weight: 200;
  color: var(--lightgray);
}
.menuicon{
  font-size: 25px;
}
@media screen and (max-width:990px) {
  .navbar{
    display: none;
    flex-direction: column;
    position: absolute;
    background-color: var(--bgblack);
    right: 0px;
    top:59px;
    width: 100%;
    min-height: 100vh;
  }
  .navbar li{
    border: 1px solid white;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
  }
  .navbar li a {
    width: 100%;
    text-align: center;
  }
 
  nav{
    justify-content: space-between;
    position: relative;
  }
}

@media screen and (min-width:991px) {
  .navbaricons{
    display: none;
  }
  .navbar{
    display: flex !important;
    margin-left: 120px;
    justify-content: space-between;
  }
}